<div class="form">
<%= form_with url: "/daily-exercise", method: :post do |f| %>
  <div class="form-line">
      <%= f.label :pushups, "Push Ups:" %>
      <%= f.number_field :pushups, value: @pushups %>
  </div>

  <div class="form-line">
      <%= f.label :pushups, "Squats:" %>
      <%= f.number_field :squats, value: @squats %>
  </div>
  <div class="form-line">
      <%= f.label :planks, "Plank minutes:" %>
      <%= f.number_field :planks, value: @planks %>
  </div>
  <%= f.submit "Save" %>
<% end %>
</div>
