<%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true } %>

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<%= form_with url: "/daily-exercise", method: :post do |f| %>
  <%= f.label :pushups, "Push Ups:" %>
  <%= f.number_field :pushups, value: @pushups %>

  <%= f.label :pushups, "Squats:" %>
  <%= f.number_field :squats, value: @squats %>

  <%= f.submit "Save" %>
<% end %>
